
.ipynb_checkpoints/Index-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

ML00 オリエンテーション/.ipynb_checkpoints/L000_機械学習の例-checkpoint.ipynb

ML00 オリエンテーション/.ipynb_checkpoints/L001_IRIS00データ-checkpoint.ipynb

ML00 オリエンテーション/.ipynb_checkpoints/L002_IRIS01識別実験-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-Copy1-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-Copy1-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/L001-K-means 法の実験2D-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/L003-階層型クラスタリング-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/L0041-COLOR_SOM 自己組織化マップによる色分類1-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/L005-Self Organizing Map-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/L0042-COLOR_SOM 自己組織化マップによる色分類2-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/1. 住宅販売決定木-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/1. 住宅販売決定木-演習用-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/2. 薬物裁判決定木-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/2. 薬物裁判決定木-Excel表利用版-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/3. 顔に見えるかどうかの決定木 for Windows10-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/DecisionTreeoFaceFeatures-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/Windows10 で Graphviz を使うための設定-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/DecisionTreeoFaceFeatures-checkpoint.ipynb

ML04 MNIST/.ipynb_checkpoints/MNISTデータのSOMマップ-checkpoint.ipynb

ML08 一般物体認識/cifar-100/test

ML08 一般物体認識/cifar-100/train

*.mp4

*.pkl

ML08 一般物体認識/OpenCampus Demo/pysrc/modeldata/.ipynb_checkpoints/Untitled-checkpoint.ipynb

ML08 一般物体認識/OpenCampus Demo/pysrc/modeldata/.ipynb_checkpoints/categories_hybrid1365の日本語化-checkpoint.ipynb

*.pyc

ML02 決定木の学習/.ipynb_checkpoints/DecisionTreeoFaceFeatures-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-Copy1-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

Index.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML01 クラスタリング/.ipynb_checkpoints/IRIS00-checkpoint.ipynb

ML02 決定木の学習/.ipynb_checkpoints/DecisionTreeoFaceFeatures-checkpoint.ipynb
